# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# YOLO Training Outputs
# =========================
runs/
model/runs/

# =========================
# Temporary files
# =========================
*.tmp
*.bak

# =========================
# Optional
# (modelo base descargado)
# =========================
model/yolov8n.pt